:root {
  --primary-color: white;
  --secondary-color: black;
  --headline-font: "Playfair Display", serif;
  --paragraph-font: "Playfair Display", serif;
}

* {
  box-sizing: border-box;
}

/**** GENERAL STYLING ****/
body {
  margin: 0;
  background-color: var(--primary-color);
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

h1 {
  font-size: 3rem;
  color: var(--secondary-color);
  margin-bottom: 15px;
  margin-top: 0;
  font-family: var(--headline-font);
  font-weight: 900;
}

h2 {
  font-size: 2rem;
  margin: 0;
  font-family: var(--headline-font);
  font-weight: 900;
}

h3,
h4 {
  font-size: 1.8rem;
  margin: 5px 0;
  font-weight: 300;
  font-family: var(--headline-font);
  font-weight: 400;
  font-style: italic;
}

h4 {
  font-style: normal;
}

p {
  font-size: 1.6rem;
  width: fit-content;
  color: var(--secondary-color);
  line-height: 1.5;
  font-family: var(--paragraph-font);
  font-weight: 400;
}

#search_field {
  width: 150px;
  height: 30px;
  padding-left: 5px;
  border: 1px solid;
  font-family: var(--paragraph-font);
  margin-left: 30px;
}

#search_bar {
  width: 180px;
  position: relative;
  margin-top: 20px;

}

#search_img {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search_img>img {
  width: 60%;
}


/* LIST STYLING */
label {
  font-size: 1.6rem;
  color: var(--secondary-color);
  font-family: var(--paragraph-font);
  font-weight: 400;
}

select {
  width: 180px;
  height: 30px;
  border-radius: 0px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  font-family: var(--paragraph-font);
  font-weight: 400;
  font-size: 1.4rem;
}

.sorter {
  cursor: pointer;
}

select:focus {
  outline: none;
}

hr {
  border: 1px solid var(--secondary-color);
  margin: 20px 0;
  max-width: 550px;
}

.student-wrapper {
  padding: 30px;
  filter: blur(0px);
}

.student,
.info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 800px;
  grid-gap: 20px;
}

.name {
  cursor: pointer;
}

.boy:after {
  content: " 🚹";
}

.girl:after {
  content: " 🚺";
}

.info h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  color: var(--secondary-color);
}

.expel {
  -webkit-appearance: none;
  height: 30px;
  width: 100px;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--primary-color);
  line-height: 1.5;
  font-family: var(--paragraph-font);
  font-weight: 400;
  align-self: center;
  background-color: var(--secondary-color);
  border: none;
  box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.4);
  transition: transform 0.3s;
}

.prefect {
  cursor: pointer;
}

.filter,
#hack {
  -webkit-appearance: none;
  height: 35px;
  font-family: var(--paragraph-font);
  cursor: pointer;
}

.active-filter {
  background-color: black;
  color: white;
}

.expel:hover {
  transform: translateY(-2px);
}


/* POPUP STYLING */
.popup,
.popup-prefect,
.popup-expel,
.popup-hacked {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  justify-content: center;
  align-items: center;
}

.popup-appear {
  display: flex;
}

.wrapper-effect {
  filter: blur(3px);
}

.popup-content {
  width: auto;
  max-width: 800px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 30px;
  position: relative;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.popup-content>img {
  align-self: center;
  justify-self: center;
  margin: 30px auto 5px auto;
}

.crest {
  width: 150px;
  height: 150px;
  background-size: 100%;
  background-image: var(--house-crest);
  margin: auto;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2.5rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  appearance: none;
  color: var(--secondary-color);
}

.hide {
  display: none;
}


.popup-prefect-content {
  width: auto;
  max-width: 800px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 30px;
  position: relative;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.popup-expel-content {
  width: auto;
  max-width: 800px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 30px;
  position: relative;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.popup-hacked-content {
  width: auto;
  max-width: 800px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 30px;
  position: relative;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

#hack {
  position: absolute;
  top: 10px;
  right: 10px;
}

.hacked {
  background-color: red;
  color: white;
}

@media screen and (min-width: 680px) {
  .popup-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .popup-content>img {
    margin: 0;
  }

  .crest {

    margin: 0;
  }
}


/* DATA ATTRIBUTES */
[data-house="Hufflepuff"] {
  --primary-color: #eee117;
  --secondary-color: #000000;
  --house-crest: url(assets/hufflepuff-emblem.png);
}

[data-house="Gryffindor"] {
  --primary-color: #7f0909;
  --secondary-color: #ffc500;
  --house-crest: url(assets/gryffindor-emblem.png);
}

[data-house="Ravenclaw"] {
  --primary-color: #000a90;
  --secondary-color: #946b2d;
  --house-crest: url(assets/ravenclaw-emblem.png);
}

[data-house="Slytherin"] {
  --primary-color: #0d6217;
  --secondary-color: #aaaaaa;
  --house-crest: url(assets/slytherin-emblem.png);
}