:root {
    --primary-color: white;
    --secondary-color: black;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--primary-color);
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

h1 {
    font-size: 3rem;
    color: var(--secondary-color);
    margin-bottom: 15px;
}

h2 {
    font-size: 2.5rem;
    margin: 0;
}

h3 {
    font-size: 1.8rem;
    margin-top: 5px;
    font-weight: 300;
}

li {
    font-size: 1.6rem;
    cursor: pointer;
    width: fit-content;
    color: var(--secondary-color);
    line-height: 1.5;
}

label {
    font-size: 2rem;
    color: var(--secondary-color);
}

select {
    width: 180px;
    height: 30px;
    border-radius: 0px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.student-wrapper {
    padding: 30px;
    filter: blur(0px);
}

.popup {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
    justify-content: center;
    align-items: center;
}

.popup-appear {
    display: flex;
}

.wrapper-effect {
    filter: blur(3px);
}

.popup-content {
    width: 80%;
    max-width: 600px;
    height: 60%;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 30px;
    position: relative;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.crest {
    width: 250px;
    height: 250px;
    background-size: 100%;
    background-image: var(--house-crest);
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2.5rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    appearance: none;
    color: var(--secondary-color);
}


[data-house="Hufflepuff"] {
    --primary-color: #EEE117;
    --secondary-color: #000000;
    --house-crest: url(assets/hufflepuff-emblem.png);
}

[data-house="Gryffindor"] {
    --primary-color: #7F0909;
    --secondary-color: #FFC500;
    --house-crest: url(assets/gryffindor-emblem.png);
}

[data-house="Ravenclaw"] {
    --primary-color: #000A90;
    --secondary-color: #946B2D;
    --house-crest: url(assets/ravenclaw-emblem.png);
}

[data-house="Slytherin"] {
    --primary-color: #0D6217;
    --secondary-color: #AAAAAA;
    --house-crest: url(assets/slytherin-emblem.png);
}